<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
<style>
     main {
        text-align: center;
        max-width: 800px;
        background: radial-gradient(circle, #f0f8ff, #f5f5f65c);
        width: 100%;
        
        padding:40px;
        max-height: 600px;
       
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
</style>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/login" method="POST">
            <div class="form-control">
                
                <input 
                    class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                    type="email" 
                    name="email" 
                    id="email" 
                    value="<%= oldInput.email %>"
                    placeholder="E-Mail">
            </div>
            <div class="form-control">
                
                <input 
                    class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                    type="password" 
                    name="password" 
                    id="password" 
                    value="<%= oldInput.password %>"
                    placeholder="Password">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="centered">
                <button class="btn centered" type="submit">Login</button>
                <a class="btn centered"href="/reset">Reset Password</a>
            </div>
        </form>
        
    </main>
<%- include('../includes/end.ejs') %>