<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        
        <% if (prods.length > 0) { %>
            <div class="grid">
             
                <% for (let product of prods) { %>
                    <% if (addedtoCart && addedtoCart.toString() === product._id.toString()) { %>
                        <div class="floating-message user-message--addedtoCart">Added to Cart</div>
                    <% } %>
                    <div class="card product-item">
                       
                        <div class="card-inner">
                            <div class="card-front">
                                <header class="card__header">
                                    <h1 class="product__title"><%= product.title %></h1>
                                </header>
                                <div class="card__image">
                                    <img src="/<%= product.imageUrl %>" alt="<%= product.title %>">
                                </div>
                                <h2 class="product__price">৳<%= new Intl.NumberFormat('en-US').format(product.price) %></h2>
                            </div>
                            <div class="card-back">
                                <div class="card__content">
                                    <p class="product__description"><%= product.description %></p>
                                    <div class="card__actions">
                                        <a href="/products/<%= product._id %>" class="btn">Details</a>
                                       
                                        <% if (isAuthenticated) { %>
                                            <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>
</body>